openapi: 3.0.3
info:
  title: Materialize Cloud
  version: 0.1.0
servers:
- url: https://cloud.materialize.com
paths:
  /api/deployments:
    get:
      description: List the available deployments.
      operationId: deploymentsList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Deployment'
                type: array
      security:
      - tokenAuth: []
      tags:
      - deployments
    post:
      description: Create a new deployment.
      operationId: deploymentsCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      security:
      - tokenAuth: []
      tags:
      - deployments
  /api/deployments/{id}:
    delete:
      description: Destroy a deployment.
      operationId: deploymentsDestroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - deployments
    get:
      description: Fetch details about a single deployment.
      operationId: deploymentsRetrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      security:
      - tokenAuth: []
      tags:
      - deployments
    patch:
      description: Partially update a deployment.
      operationId: deploymentsPartialUpdate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDeploymentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      security:
      - tokenAuth: []
      tags:
      - deployments
    put:
      description: Update a deployment.
      operationId: deploymentsUpdate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      security:
      - tokenAuth: []
      tags:
      - deployments
  /api/deployments/{id}/certs:
    get:
      description: |-
        Retrieve a TLS certificate bundle for a deployment.

        The TLS certificate bundle is a ZIP file containing PEM and DER
        formatted keys that permit authenticating to the deployment as the
        `materialize` user.
      operationId: deploymentsCertsRetrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
      security:
      - tokenAuth: []
      tags:
      - deployments
  /api/deployments/{id}/logs:
    get:
      description: Retrieve the logs for a deployment.
      operationId: deploymentsLogsRetrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: previous
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
      security:
      - tokenAuth: []
      tags:
      - deployments
  /api/deployments/{id}/tailscale_logs:
    get:
      description: Retrieve the logs for a Tailscale container.
      operationId: deploymentsTailscaleLogsRetrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: previous
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
      security:
      - tokenAuth: []
      tags:
      - deployments
  /api/health:
    get:
      description: |-
        Basic health check endpoint.

        This endpoint always returns 200 OK. It is intended for use by load
        balancers and such that need a basic indication as to whether the server is
        live.
      operationId: healthRetrieve
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      - {}
      tags:
      - health
  /api/mz-versions:
    get:
      description: |-
        List the versions of Materialize known to Materialize Cloud.

        Versions are listed in order from oldest to newest.
      operationId: mzVersionsList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
      - tokenAuth: []
      - {}
      tags:
      - mz-versions
  /api/mz-versions/latest:
    get:
      description: Returns the latest version of Materialize.
      operationId: mzVersionsLatestRetrieve
      parameters:
      - explode: true
        in: query
        name: track
        required: false
        schema:
          default: stable
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
      security:
      - tokenAuth: []
      - {}
      tags:
      - mz-versions
  /api/onboarding-call:
    get:
      description: Retrieve the first scheduled onboarding call for a user.
      operationId: onboardingCallRetrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingCall'
      security:
      - tokenAuth: []
      tags:
      - onboarding-call
  /api/organizations/{id}:
    get:
      description: Fetch details about a single organization.
      operationId: organizationsRetrieve
      parameters:
      - description: A UUID string identifying this organization.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      security:
      - tokenAuth: []
      tags:
      - organizations
  /api/schema:
    get:
      description: |-
        OpenApi3 schema for this API. Format can be selected via content negotiation.

        - YAML: application/vnd.oai.openapi
        - JSON: application/vnd.oai.openapi+json
      operationId: schemaRetrieve
      parameters:
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - yaml
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.oai.openapi:
              schema:
                additionalProperties: {}
                type: object
            application/yaml:
              schema:
                additionalProperties: {}
                type: object
            application/vnd.oai.openapi+json:
              schema:
                additionalProperties: {}
                type: object
            application/json:
              schema:
                additionalProperties: {}
                type: object
      security:
      - tokenAuth: []
      - {}
      tags:
      - schema
components:
  schemas:
    Deployment:
      example:
        flaggedForUpdate: true
        flaggedForDeletion: true
        pendingMigration: ""
        clusterId: clusterId
        mzVersion: mzVersion
        hostname: hostname
        materializedExtraArgs:
        - materializedExtraArgs
        - materializedExtraArgs
        size: ""
        tlsAuthority: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        organization: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        storageMb: 80174
        id: id
        disableUserIndexes: false
        status: status
      properties:
        id:
          readOnly: true
          type: string
        organization:
          format: uuid
          readOnly: true
          type: string
        tlsAuthority:
          format: uuid
          readOnly: true
          type: string
        name:
          type: string
        hostname:
          nullable: true
          readOnly: true
          type: string
        flaggedForDeletion:
          readOnly: true
          type: boolean
        flaggedForUpdate:
          readOnly: true
          type: boolean
        size:
          allOf:
          - $ref: '#/components/schemas/DeploymentSizeEnum'
        storageMb:
          default: 100
          maximum: 1000000
          minimum: 100
          type: integer
        disableUserIndexes:
          default: false
          type: boolean
        materializedExtraArgs:
          items:
            maxLength: 255
            type: string
          title: Extra materialized arguments
          type: array
        clusterId:
          nullable: true
          readOnly: true
          type: string
        mzVersion:
          type: string
        pendingMigration:
          allOf:
          - $ref: '#/components/schemas/PendingMigration'
          nullable: true
          readOnly: true
        status:
          readOnly: true
          type: string
      required:
      - clusterId
      - disableUserIndexes
      - flaggedForDeletion
      - flaggedForUpdate
      - hostname
      - id
      - materializedExtraArgs
      - mzVersion
      - name
      - organization
      - pendingMigration
      - size
      - status
      - storageMb
      - tlsAuthority
      type: object
    DeploymentRequest:
      example:
        materializedExtraArgs:
        - materializedExtraArgs
        - materializedExtraArgs
        size: ""
        name: name
        storageMb: 80174
        disableUserIndexes: false
        mzVersion: mzVersion
        enableTailscale: true
        tailscaleAuthKey: tailscaleAuthKey
      properties:
        name:
          type: string
        size:
          allOf:
          - $ref: '#/components/schemas/DeploymentSizeEnum'
        storageMb:
          default: 100
          maximum: 1000000
          minimum: 100
          type: integer
        disableUserIndexes:
          default: false
          type: boolean
        materializedExtraArgs:
          items:
            maxLength: 255
            type: string
          title: Extra materialized arguments
          type: array
        mzVersion:
          type: string
        enableTailscale:
          type: boolean
          writeOnly: true
        tailscaleAuthKey:
          type: string
          writeOnly: true
      type: object
    DeploymentSizeEnum:
      enum:
      - XS
      - S
      - M
      - L
      - XL
      type: string
    OnboardingCall:
      example:
        start: 2000-01-23T04:56:07.000+00:00
        end: 2000-01-23T04:56:07.000+00:00
      properties:
        start:
          format: date-time
          type: string
        end:
          format: date-time
          type: string
      required:
      - end
      - start
      type: object
    Organization:
      example:
        admitted: true
        deploymentLimit: 0
        trialExpiresAt: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          readOnly: true
          type: string
        admitted:
          description: Whether this organization has been admitted to Materialize
            Cloud.
          readOnly: true
          type: boolean
        deploymentLimit:
          readOnly: true
          type: integer
        trialExpiresAt:
          description: When this organization's trial period expires. If empty, the
            organization is on an enterprise plan.
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - admitted
      - deploymentLimit
      - id
      - trialExpiresAt
      type: object
    PatchedDeploymentRequest:
      example:
        materializedExtraArgs:
        - materializedExtraArgs
        - materializedExtraArgs
        size: ""
        name: name
        storageMb: 80174
        disableUserIndexes: false
        mzVersion: mzVersion
        enableTailscale: true
        tailscaleAuthKey: tailscaleAuthKey
      properties:
        name:
          type: string
        size:
          allOf:
          - $ref: '#/components/schemas/DeploymentSizeEnum'
        storageMb:
          default: 100
          maximum: 1000000
          minimum: 100
          type: integer
        disableUserIndexes:
          default: false
          type: boolean
        materializedExtraArgs:
          items:
            maxLength: 255
            type: string
          title: Extra materialized arguments
          type: array
        mzVersion:
          type: string
        enableTailscale:
          type: boolean
          writeOnly: true
        tailscaleAuthKey:
          type: string
          writeOnly: true
      type: object
    PendingMigration:
      properties:
        description:
          type: string
        deadline:
          format: date
          type: string
      required:
      - deadline
      - description
      type: object
    PendingMigrationRequest:
      properties:
        description:
          type: string
        deadline:
          format: date
          type: string
      required:
      - deadline
      - description
      type: object
  securitySchemes:
    tokenAuth:
      scheme: bearer
      type: http
